img {
    width: 30%;
    height: 500px;
    float: left;
    margin: 1.66%;
}

h1 {
    font-family: rajdhani;
    font-size: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}