body {
    font-family: "Open Sans";
    padding-top: 70px;
}

h1 {
    text-transform: uppercase;
}

.navbar-default {
    background-color: rgb(85, 87, 84); 
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}